/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Counter Container */
.counter-container {
  background-color: #ffffff;
  padding: 21px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

/* Display */
.display {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Buttons */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

/* Input Field */
input[type="number"] {
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(219, 213, 213);
  border-radius: 5px;
  width: calc(100% - 22px);
}

/* Reset Button */
.reset-button {
  background-color: #f44336;
}

.reset-button:hover {
  background-color: #d32f2f;
}
